@import "_mixins.scss";
* {
  margin: 0;
  padding: 0;
}
@keyframes quoteAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  margin-top: 60px;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  min-height: 100vh;
}
.container-ticket {
  margin-top: 60px;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}
header {
  z-index: 2;
  width: 100%;
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  background-color: $semColor;
  line-height: 40px;
  position: fixed;
  justify-content: space-between;
  top:0;
}

.main-page-main {
  @include gradient-background(#4C5767, #717578);
  margin: auto;
}

a {
  text-decoration: none;
  color:white;
}
.nav-item {
  margin: 0 10px;
  padding: 10px;
  color: white;
  font-size: 25px;
  transition: 0.3s;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #333;
}

.nav-item a {
  color: #333;
}
.quote {
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.third-text img {
  animation: quoteAnim 3s;
  height: 300px;
  width: 300px;
  margin: 1%;
}
.description {
    color: white;
    margin: auto;
    font-size: 30px;
}
.description div {
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
}
.third-text div {
    display: flex;
    flex-direction: column;
}
.third-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.banner{
  height: 540px;
  width: 100%;
}
.banner img{
  height: 540px;
  width: 100%;
}

.ticket { 
  width: 70%;
  min-height: 100px;
  height: 100%;
  text-align: center;
  margin: 10px auto;
}
.forms {
  background: #D9D9D9;
  height: 100px;
  border-radius: 25px;
}
form {
  display: flex;
  flex-direction: row;
  gap: 20%;
  width: 100%;
  justify-content: center;
}

input {
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  max-width: 200px;
  width: 100%;
  min-width: 10px;
}

button {
  background-color: #4C5767;
  color: white;
  height: 50px;
  width: 15%;
  margin-top: 25px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
}
hr {
  color: white;
}

footer {
  background-color: $semColor;
  width: 100%;
  color: white;
  font-size: 20px;
}
footer a {
  margin-left: 10px;
}
footer div {
  padding: 10px;
}

/**/
.head-page h1 {
  color: #B5C2D7;
  margin: auto;
}
.partnersmain {
  color: white;
  width: 100%;
  font-size: 30px;
  @include gradient-background(#4C5767, #717578);
}
.partnersmain h2 {
  padding: 10px 30px;
}
.partnersmain p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px 30px;
}
.partnersmain img {
  padding: 0px;
  width: 100%;
  margin: 0px;
  height: 500px;
}

.pic-bottom {
  position: relative;
  width: 100%;
}

.for-advertisement h2 {
  margin: 20px;
}

.for-advertisement {
  background: linear-gradient(to right, rgba(76, 86, 100, 0.7), rgba(209, 216, 222, 0.7));
  position: absolute;
  top: 80%;
  width: 100%;
  height: 19%; 
}

/**/
.informationmain {
  display: flex;
  flex-direction: row;
  @include gradient-background(#4C5767, #717578);
  color: white;
  width: 100%;
  font-size: 30px;
}

.questions h2 {
  padding: 10px 30px;
}

.questions p {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px 30px;
}

.questions {
  color: white;
  margin: auto;
  width: 150%;
}

.questions hr {
  width: 95%;
  margin: auto;
}
section ul {
  padding-left: 70px;
  padding-right: 30px;
}
.info-menu {
  width: 40%;
  background-color: $semColor;
  color: white;
  padding-left: 40px;
}
.right-menu {
  position: fixed;
}
.info-menu li {
  font-size: 25px;
  padding: 5px;
}
.info-menu a {
  transition: 0.3s;
}
.info-menu a:hover {
  background-color: #333;
  padding: 5px;
  border-radius: 4px;
}

.sub-list li {
  list-style: none;
}
.nav-for-partners-phone {
  display: none;
}

/**/
.ticketsmain {
  width: 100%;
  @include gradient-background(#4C5767, #717578);
  min-height: 100vh;
  height: 100%;
}
.flight-info-container {
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  height: 170px;
}

.flight-info-container img {
  height: 100%;
  min-width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.time-and-place {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 20px;
  width: 70%;
}
.time-and-place div {
  font-size: 20px;
}
.class-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
